<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
  {% include head.html %}
</head>

<body class="{{ page.body_class | default: '' }}">
  <a class="skip" href="#main">Skip to content</a>

  <div class="page-loader" aria-hidden="true">
    <div>
      <div class="page-loader__bar"><span></span></div>
      <div class="page-loader__text">Loading</div>
    </div>
  </div>

  {% include header.html %}

  <main id="main" class="main" tabindex="-1">
    {{ content }}
  </main>

  {% include footer.html %}

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.3/Sortable.min.js" defer></script>
  <script src="{{ '/assets/js/site.js' | relative_url }}" defer></script>
</body>
</html>
